.first {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.second {
    margin-top: 50px;
    border: 10px solid gray;
    border-bottom: 100px solid gray;
    width: 516px;
    height: 657px;
}

.img-viewport {
    width: 499px;
    height: 550px;            
    border: 2px solid rgb(0, 0, 0);
}

.inputoutput {
    text-align: center;
    color: aliceblue;
}