.first {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.second {
    margin-top: 50px;
    border: 10px solid gray;
    border-bottom: 100px solid gray;
    width: 500px;
    height: 600px;
}

#viewport {
    width: 497px;
    height: 599px;
    margin-top: 0px;
    border: 2px solid rgb(0, 0, 0);
}

.inputoutput {
    text-align: center;
    color: aliceblue;
}