@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Baskervville&family=Battambang&family=Encode+Sans+Condensed&family=Golos+Text&family=Hind+Vadodara&family=Julee&family=Manrope&family=Roboto&family=Roboto+Condensed&family=Roboto+Slab&display=swap');


@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    gap: 2rem;
    width: 80%;
    
}

.container {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    text-align: center;

}

.content {
    width: 15%;
    height: 75px;
}

.table {
    border: solid black;
}


.row {
    width: 100%;
    display: flex;
    padding: 5;
}

.column {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.infoo h5 {
    font-size: 2rem;
    margin-left: 5%;
}


p {
  font-size: 4rem;
  font-family: 'Dosis';
  text-align: center;
  margin-top: 8px;
}

h5,
h2 {
  font-family: 'Dosis';
}

.navbar {
	background:linear-gradient(to right, #848585, #dcf5fa, #efc9e9, #848585);	height: 100px;
  height: 100px;
}

.navbar img {
  width: 72px;
  height: 72px;
  border-radius: 50%;

}

.aboutUs {
  font-family: 'papyrus';
  font-size: 48px;

}

.aboutUs span {
  color: red;
}

.container {
  width: 100%;
  /* background-color: rgb(250, 237, 242); */
}

.tapOne {
  width: 50%;
  border: 2px solid rgb(0, 0, 0);
}

.tapTwo {
  width: 50%;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(179, 227, 235);
}

.One {
  width: 85%;
  background-color: rgb(244, 201, 230);
}

.Two {
  width: 100%;
  background-color: rgb(206, 206, 206);
}


.line {
  height: 2px;
  width: 80%;
}

.coolDrinks .hotDrinks .frappes {
  width: 120px;
  height: 120px;
  background-color: rgb(218, 212, 204);

}

.icons img {
  width: 1rem;
  height: 25px;
}

.img-container {
  width: 100%;
  height: 160px;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
}

.store-img {
  transition: all 1s ease-in-out;
}

.img-container:hover .store-img {
  transform: scale(1.3);
}

.img-container:hover {
  transform: translate(0, 0);
}

.fontS {
  font-family: 'Dosis';
  width: 32.5%;
}

.search-box {
  background-color: gray;
  color: black;
}

.info {
  width: 90%;
  height: 45px;
  background-color: antiquewhite;
  border-radius: 10px;
}



