<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../style/admin.css">
    <title>Admin</title>
    <style>
        .img-container {
            width: 100%;
            height: 160px;
            margin: auto;
            overflow: hidden;
            cursor: pointer;
        }

        .store-img {
            transition: all 1s ease-in-out;
        }

        .img-container:hover .store-img {
            transform: scale(1.3);
        }

        .img-container:hover {
            transform: translate(0, 0);
        }
        .itemBox{
            transition: 300ms;
            transform: translateX(var(--x-slide));
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light justify-content-between w-100 d-flex">
        <div class="logo d-flex w-25 justify-content-center img-container">
            <img src="../img/logo.png" alt="logo" class="store-img">
            <a class="navbar-brand justify-content-center text-center" href="#">
                <p>Gic Cafe</p>
            </a>
        </div>

        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse w-75 justify-content-between" id="navbarNavAltMarkup">
            <div class="navbar-nav w-50 justify-content-between ml-50" style="margin-left: 40%;">
                <a class="nav-item nav-link active" th:href="@{/listDrinkAdmin}" id="Home">
                    <h5 class="fs-1">Home</h5>
                </a>
                <a class="nav-item nav-link" href="/" th:href="@{/listDrinkAdmin}" id="AboutUs">
                    <h5 class="fs-1">About Us</h5>
                </a>
                <a class="nav-item nav-link" href="/" th:href="@{/listDrinkAdmin}" id="Menu">
                    <h5 class="fs-1">Menu</h5>
                </a>
                <a class="nav-item nav-link" href="/" th:href="@{/logout}">
                    <h5 class="fs-1">LogOut</h5>
                </a>
            </div>
        </div>
    </nav>

    <!-- <div sec:authorize="isAuthenticated()" class="justify-content-center m-auto text-center">
        <b><span sec:authentication="username">Username</span></b> &nbsp;
        <i><span sec:authentication="principal.authorities"></span></i>
        <div sec:authorizes="hasAnyAuthority('Admin', 'Cashier')"></div>
    </div> -->

    <div class="row w-75 m-auto">
        <div class=" col-lg-8 mx-auto d-flex justify-content-around my-2 flex-wrap text-dark">
            <a href="/addDrink" class="btn btn-outline-secondary text-uppercase filter-btn " data-filter="drink">Add
                Drink</a>

            <a href="/addFood" class=" btn btn-outline-secondary text-uppercase filter-btn " data-filter="food">Add
                Food</a>

            <a href="/register" class="btn btn-outline-secondary text-uppercase filter-btn "
                data-filter="addCashier">Add Cashier</a>

            <a href="/listTable" class=" btn btn-outline-secondary text-uppercase filter-btn "
                data-filter="manageTable">Manage Table</a>

            <a href="/orderHistory" class=" btn btn-outline-secondary text-uppercase filter-btn "
                data-filter="manageTable">Manage order Histories</a>

        </div>

    </div>

    <div class="row w-75 m-auto">
        <div class=" d-flex justify-content-around flex-wrap text-dark">
            <a class="type btn btn-outline-secondary text-uppercase filter-btn m-2" data-filter="cashier">List Cashier</a>

            <a class="type btn btn-outline-secondary text-uppercase filter-btn m-2" data-filter="drink">List Drink</a>

            <a class="type btn btn-outline-secondary text-uppercase filter-btn m-2" data-filter="food">List
                Food</a>



        </div>
        <div class="item_container" style="display: flex;gap: 1rem; --x-slide:-0%;overflow: hidden;" >

            <div class="itemBox cashier d-flex h-auto mt-5 border-1" style="min-width: 100%;">
                <div class="tapOne border-1  h-auto w-50">
                    <div class="text-center mt-4">
                        <h5>Cashier's List</h5>
                    </div>
    
                    <div class="mt-4 line border-2 justify-content-center bg-black m-auto"></div>
    
                    <table class="Two mt-5 justify-content-center m-auto mb-5" style="width: 95%;">
                        <tr class="bg-info border-0">
                            <th>N*</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Action</th>
                            <th></th>
    
                        </tr>
    
                        <tr th:each="cashier: ${cashiers}" class="infoDetail mt-4 border-0">
                            <th th:text="${cashier.id}"> scope="row"</th>
                            <td th:text="${cashier.name}" class="cname" th:id="${cashier.id}" style="cursor: pointer;"></td>
                            <td th:text="${cashier.username}"></td>
                            <td th:text="${cashier.email}"></td>
                            <td>
                                <a th:href="@{/editCashier/{id}(id=${cashier.id})}">
                                    <i class="bx bxs-edit-alt btn-success"></i>
                                    Edit</a>
                            </td>
                            <td>
                                <a th:href="@{/deleteCashier/{id}(id=${cashier.id})}">
                                    <i class="bx bxs-trash btn-danger"></i>
                                    Delete</a>
                            </td>
    
                        </tr>
    
                    </table>
                </div>
                <div class="tapTwo mt-0 border-1 h-auto w-50">
                    <div class="text-center mt-4">
                        <p>Cashier Information</p>
                    </div>
    
                    <div class="justify-content-center text-center m-auto h-auto img-container" style="width: 80%;">
                        <div th:each="cashier:${cashiers}" class="cimage d-flex d-none justify-content-between"
                            th:id="${'cimage' + cashier.id}">
    
                            <div>
                                <img src="data:image/jpeg;base64," th:attrappend="src=${cashier.image}" class=" store-img"
                                    style="width: 200px; height: 200px;">
    
                                <div class="d-flex mx-2">
                                    <h5>Role: &emsp;</h5>
                                    <h5 th:text="${cashier.role}"></h5>
                                </div>

                                <div class="d-flex mx-2">
                                    <h5>Login: &emsp;</h5>
                                    <h5 th:text="${cashier.username}"></h5>
                                </div>

                                <div class="d-flex mx-2">
                                    <h5>Hired Date: &emsp;</h5>
                                    <h5 th:text="${cashier.hired_date}"></h5>
                                </div>

                            </div>
    
                            <div>
    
                                <div class="d-flex mx-2">
                                    <h5> Name: &emsp;</h5>
                                    <h5 th:text="${cashier.name}"></h5>
                                </div>
    
                                <div class="d-flex mx-2">
                                    <h5>Gender: &emsp;</h5>
                                    <h5 th:text="${cashier.gender}"></h5>
                                </div>
    
                                <div class="d-flex mx-2">
                                    <h5>Date of Birth: &emsp;</h5>
                                    <h5 th:text="${cashier.dob}"></h5>
                                </div>
    
                                <div class="d-flex mx-2">
                                    <h5>Last Update: &emsp;</h5>
                                    <h5 th:text="${cashier.date}"></h5>
                                </div>
    
    
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
            </div>
    
    
            <div class="itemBox food d-flex h-auto mt-5 border-1" style="min-width: 100%;">
                <div class="tapOne border-1  h-auto w-50">
                    <div class=" text-center mt-4">
                        <h5>Food's List</h5>
                    </div>
    
                    <div class="mt-4 line border-2 justify-content-center bg-black m-auto"></div>
    
                    <table class="Two mt-5 justify-content-center m-auto justify-content-between" style="width: 95%;">
                        <tr class="bg-info border-0">
                            <th>N*</th>
                            <th>Name</th>
                            <th>Action</th>
                            <th></th>
    
                        </tr>
    
                        <tr th:each="food: ${foods}" class="mt-4 border-0">
                            <th th:text="${food.id}"> scope="row"</th>
                            <td th:text="${food.name}" class="fname" th:id="${food.id}" style="cursor: pointer;"></td>
    
                            <td>
                                <a th:href="@{/editFood/{id}(id=${food.id})}">
                                    <i class="bx bxs-edit-alt btn-success"></i>
                                    Edit</a>
                            </td>
                            <td>
                                <a th:href="@{/deleteFood/{id}(id=${food.id})}">
                                    <i class="bx bxs-trash btn-danger"></i>
                                    Delete</a>
                            </td>
    
                        </tr>
    
                    </table>
                </div>
                <div class="tapTwo mt-0 border-1 h-auto w-50">
                    <div class="text-center mt-4">
                        <p>Food's Information</p>
                    </div>
    
                    <div class=" justify-content-center text-center m-auto h-auto img-container" style="width: 75%;">
                        <div th:each="food:${foods}" class="fimage d-flex d-none justify-content-between"
                            th:id="${'fimage' + food.id}">
                            <div>
                                <img src="data:image/jpeg;base64," th:attrappend="src=${food.image}" class="store-img"
                                    style="width: 200px; height: 200px;">
    
                            </div>
    
                            <div>
                                <div class="d-flex mx-2">
                                    <h5>Name: &emsp;</h5>
                                    <h5 th:text="${food.name}"></h5>
                                </div>
    
                                <div class="d-flex mx-2">
                                    <h5>Price: &emsp;</h5>
                                    <h5 th:text=" '&emsp;' + ${food.price}" class="price"></h5>
                                </div>
                            </div>
    
                        </div>
    

                    </div>
    
                </div>
            </div>
    
    
            <div class="itemBox drink d-flex h-auto mt-5 border-1" style="min-width: 100%;">
                <div class="tapOne border-1 h-auto w-50">
                    <div class=" text-center mt-4">
                        <h5 class="text-center"> Drink's List</h5>
                    </div>
    
                    <div class="mt-4 line border-2 justify-content-center bg-black m-auto"></div>
    
                    <table class="Two mt-5 justify-content-center m-auto justify-content-between mb-5" style="width: 95%;">
                        <tr class="bg-info border-0">
                            <th>N*</th>
                            <th>Name</th>
                            <th>Action</th>
                            <th></th>
    
                        </tr>
    
                        <tr th:each="drink: ${drinks}" class="mt-4 border-0">
                            <th th:text="${drink.id}"> scope="row"</th>
                            <td th:text="${drink.name}" class="dname" th:id="${drink.id}" style="cursor: pointer;"></td>
    
                            <td>
                                <a th:href="@{/editDrink/{id}(id=${drink.id})}">
                                    <i class="bx bxs-edit-alt btn-success"></i>
                                    Edit</a>
                            </td>
                            <td>
                                <a th:href="@{/deleteDrink/{id}(id=${drink.id})}">
                                    <i class="bx bxs-trash btn-danger"></i>
                                    Delete</a>
                            </td>
    
                        </tr>
    
                    </table>
    
                </div>
                <div class="tapTwo mt-0 border-1 h-auto w-50">
                    <div class="text-center mt-4">
                        <p>Drink's Information</p>
                    </div>
    
                    <div class=" justify-content-center text-center m-auto h-auto img-container" style="width: 75%;">
                        <div th:each="drink:${drinks}" class="dimage d-flex d-none justify-content-between"
                            th:id="${'dimage' + drink.id}">
    
                            <div>
                                <img src="data:image/jpeg;base64," th:attrappend="src=${drink.image}"
                                    style="width: 200px; height: 200px;" class=" store-img">
                            </div>
    
                            <div>
    
                                <div class="d-flex mx-2">
                                    <h3>Code: &emsp;</h3>
                                    <h3 th:text="${drink.dcode}"></h3>
                                </div>
    
                                <div class="d-flex mx-2">
                                    <h5>Name: &emsp;</h5>
                                    <h5 th:text="${drink.name}"></h5>
                                </div>
    
                                <div class="d-flex mx-2">
                                    <h5>Type: &emsp;</h5>
                                    <h5 th:text="${drink.type}"></h5>
                                </div>
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="../script/homepage.js"></script>

</body>

</html>