.first {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(220, 215, 215);
    position: fixed;
}

.new {
    height: 93vh;
    width: 300px;
    position: fixed;
    padding: 15px;
    border-radius: 10px;
}

.new>div {
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-size: large;
    padding-top: 10px;
    height: 30px;
    border-style: double;
    border-radius: 5px;
}

.new input[type=text] {
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    transition: .2s;
}

.new input[type=text]:focus {
    border-color: rgb(245, 48, 48);
    box-shadow: 0 0 8px 0 rgb(246, 61, 85);
}

.new .EditBook {
    visibility: hidden;
}

.AddBook,
.EditBook {
    color: black;
    border-style: outset;
    height: 25px;
    width: 50px;
    font: bold 15 px arial, sans-serif;
    text-shadow: none;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}

.EditBook {
    background-color: white;
}

.home {
    height: auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 350px;
}

.home .BookInfo {
    text-align: center;
    font-size: larger;
    height: 50px;
    width: 780px;
    color: black;
    background-color: aliceblue;
    position: sticky;
    padding: 2px;
    margin-top: 20px;
    border-radius: 5px;
    border-style: dashed;   
}

.home .items {
    text-align: center;
    width: 23%;
    margin: 1%;
    margin-left: 1%;
    box-shadow: rgba(56, 193, 231, 0.2) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 15px;
}

.items>img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.items .name,
.price,
.category {
    text-align: start;
    margin-left: 20px;
    padding-top: 10px;
}

.Button {
    margin-top: 10px;
    margin-bottom: 5px;
}

.Button .EditBtn,
.DeletBtn {
    border-radius: 5px;
    background-color: rgb(86, 164, 233);
    color: white;
    border-style: outset;
    height: 30px;
}

.DeletBtn {
    margin-left: 10px;
    background-color: rgba(239, 54, 54);
}

.EditBook {
    margin-left: -55px;
    text-align: center;
    width: 80px;
}

.items>img {
    height: 90px;
}