<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add Drink</title>
    <link rel="stylesheet" href="../style/homepage.css">

    <style>
        p {
            text-align: center;
            margin-top: 8px;
        }

        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }

        @media (max-width: 450px) {
            .h-custom {
                height: 100%;
            }
        }
        .img-container {
            width: 100%;
            height: 160px;
            margin: auto;
            overflow: hidden;
            cursor: pointer;
        }

        .store-img {
            transition: all 1s ease-in-out;
        }

        .img-container:hover .store-img {
            transform: scale(1.3);
        }

        .img-container:hover {
            transform: translate(0, 0);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light justify-content-between w-100 d-flex">
        <div class="logo d-flex w-25 justify-content-center img-container">
            <img src="../img/logo.png" alt="logo" class="store-img">
            <a class="navbar-brand justify-content-center text-center" href="#">
                <p>Gic Cafe</p>
            </a>
        </div>

        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-75 justify-content-between" id="navbarNavAltMarkup">
            <div class="navbar-nav w-50 justify-content-between ml-50" style="margin-left: 40%;">
                <a class="nav-item nav-link active" href="/" th:href="@{/listDrinkAdmin}" id="Home">
                    <h5 class="fs-1">Home</h5>
                </a>
                <a class="nav-item nav-link" href="/" th:href="@{/listDrinkAdmin}" id="AboutUs">
                    <h5 class="fs-1">About Us</h5>
                </a>
                <a class="nav-item nav-link" href="/" th:href="@{/listDrinkAdmin}" id="Menu">
                    <h5 class="fs-1">Menu</h5>
                </a>
                <a class="nav-item nav-link" href="/" th:href="@{/logout}">
                    <h5 class="fs-1">LogOut</h5>
                </a>
            </div>
        </div>
    </nav>


    <div class="vh-50 mt-5">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">

                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-center">

                    <h2 class="font-weight-bold"> Add New Drink</h2>

                    <div th:if="${param.success}">
                        <div class="alert alert-info">Drink has been added successfully!!</div>
                    </div>


                    <form method="Post" th:action="@{/addDrink}" enctype="multipart/form-data" modelAttribute="drink"
                        th:object="${drink}">

                        <!-- Drink Code input -->
                        <div class="form-outline mb-4">
                            <input type="text" name="dcode" id="dcode" class="form-control mb-4" placeholder="Drink Code"
                                th:field="*{dcode}">

                        </div>

                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input type="text" name="name" id="name" class="form-control mb-4" placeholder="Drink Name"
                                th:field="*{name}">

                        </div>

                        <!-- Type input -->

                        <div class="form-outline mb-4 d-flex">
                            <h5>Drink Type : </h5>
                            <select id="type" name="type" th:field="*{type}" placeholder="Drink Type">
                                <option th:field="*{type}" value="null">-</option>
                                <option th:field="*{type}" value="coolDrink">coolDrink</option>
                                <option th:field="*{type}" value="hotDrink">hotDrink</option>
                                <option th:field="*{type}" value="frappe">Frappe</option>

                            </select>
                        </div>


                        <!-- Image input -->
                        <div class="custom-file mb-4">
                            <input type="file" name="file" class="custom-file-input" id="customFile"
                                accept="image/png,image/jpg,image/jpeg"> <label class="custom-file-label"
                                for="customFile" >
                                Image</label>
                        </div>
                        <button class="btn btn-info btn-block" type="submit">Add</button>
                    </form>

                    <div class="d-flex justify-content-center align-items-center mt-2">
                        <a class="mb-2 text-decoration-underline" href="/" th:href="@{/listDrink}">View List Drink</a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center mt-2">
                        <a class="mb-2 text-decoration-underline" href="/" th:href="@{/admin}">Back</a>
                    </div>
                </div>

            </div>
        </div>


    </div>

</body>

</html>